.title {
    margin: 15px;
}

.content {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}



footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    display: inline-block;
    padding-right: 10px;
}