#breadcrumb {
    background: #f1f2f2;
    margin-top: -10px;
    padding: 5px;
 }

.breadcrumb a{
    color: black;
}

.breadcrumb a:hover{
    color: tomato;
    text-decoration: none;
}

.title {
    margin: 15px;
}

.content {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}

.spacing {
    margin: 10px;
    padding: 15px;
}

.graph {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .graph{
        display: none;
    }
}

.responsive {
    width: 50%;
    height: auto;
}

.dons {
    display: flex;
    justify-content: center;
}

#btn {
    background-color: tomato;
    color: white;
}

#btn:hover {
    background-color: thistle;
}

.boxstyle {
    background-color: #f1f2f2;
}

.video-container {
    margin-top: 35px;
    margin-bottom: 35px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    display: inline-block;
    padding-right: 10px;
}